<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lee.yorizori_mybatis.recipe.mapper.RecipeMapper"> <!-- 인터페이스 이름과 일치 -->
        <insert id="create" parameterType="RecipeJoinRecipePro">
            INSERT INTO recipe (recipeid, bookid, recipename, recipetime, recipelevel, ingredients, imgconttype, imgfilename, writerid)
            VALUES(#{recipeid},#{bookid}, #{recipename},#{recipetime}, #{recipelevel},#{ingredients}, #{imgconttype},#{imgfilename},#{writerid})
        </insert>

        <select id="recipeCount"
                resultType="int">
            SELECT COUNT(*)
            FROM recipe
            WHERE bookid =#{bookid}
        </select>

        <select id="findAllRecipe" parameterType="params"
                resultType="RecipeJoinRecipePro">
            SELECT recipeid, bookid, recipename, recipetime, recipelevel, imgconttype, imgfilename, writerid
            FROM ( SELECT CEIL(rownum / #{params.pageSize}) request_page, recipeid, bookid, recipename, recipetime, recipelevel, imgconttype, imgfilename, writerid
                FROM   ( SELECT recipeid, bookid, recipename, recipetime, recipelevel, imgconttype, imgfilename, writerid
                FROM recipe WHERE bookid = #{id}))
            WHERE  request_page = #{params.requestPage}
        </select>

    <select id="findRecipeContents"
            resultType="RecipeJoinRecipePro">
        SELECT r.RECIPEID,r.bookid, r.recipename, r.recipetime, r.recipelevel, r.writerid,r.ingredients, rp.SEQNUM,rp.PROCEDURE, r.imgfilename, r.imgconttype
        FROM recipe r
                 JOIN recipe_procedure rp on r.RECIPEID = rp.RECIPEID
        WHERE r.bookid = #{bookId}
    </select>

</mapper>	